                                       /* CSS RAYAN */
/* logo la plateforme */
header {
    width: 200px;
    margin: 0;
    padding: 0;
}



/* titre main */
h1 {
    text-align: center;
    color: black;
}


#r_body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: white;
}

/* details de la formation <h4> */
.h4_rayan {
    text-align: center;
    color: black;
}


/* details de la formation */
.details_formation  {
    text-align: center;
    color: black;
}

.yt_video {
    display: flex;
    justify-content: center;
}

/* bouton formulaire */
.bouton_formulaire {
    color: blueviolet;
    font-size: 22px;
}

/* formulaire dl */
.formulaire_dl a {
    opacity: 0.70;
    color: gold;
}

 


            /* CSS MAX */
                
        body {
            background-color: darkslategray;
            background-image:url(image/c92d3367083139.5b2cf66ee2e85.jpg);
            background-repeat: no-repeat;
            background-size: 130%;
            cursor:progress;
            }

        .paragraphecybersecu {
            display: block;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            background-color: grey;
        }   
        .titrecybersecu {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: underline;

        } 
        p {
            font-style: italic;
        }
        .soustitrecybersecu {
            color: red;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: -2px -2px 2px black;
        }
        .paragraphecybersecu2 { 
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .titretabl1 {
            color: darkblue;
            text-decoration: underline;
            font-weight: bold;
            font-size: 130%
        }
        .titretabl2 {
            color: red;
            text-decoration: underline;
            font-weight: bold;
            font-size: 130%;
        }
        .titretabl3 {
            color: green;
            text-decoration: underline;
            font-weight: bold;
            font-size: 130%;
        }

        li:hover {
            color: red;
            transition: 0.3s ease-out; 
        /* effet quand tu glisse la souris sur texte */
        }


        .videoteaser {
            display: block;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;  
        }
        #conteneurflex1 {
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
        .element1{
            background-color:white;
            border-radius: 8px;/*Border-radius permet d'arrondir les bordures*/
            border: 9px double darkslategray;/*Création d'une bordure*/
            padding: 5px;position: relative;/*Création d'une bordure interne*/
            display: inline-block;
        }
        .element3 {
            background-color: white;
            border-radius: 8px;/*Border-radius permet d'arrondir les bordures*/
            border: 9px double darkslategray;/*Création d'une bordure*/
            padding: 5px;position: relative;/*Création d'une bordure interne*/
            display: inline-block;
        }
        .footer-container {
            background-color: #212329;
            padding-bottom: 4rem;
            font-family:Arial, Helvetica, sans-serif ;
        }
        .footer {
            width: 80%;
            height: 40vh;
            background-color: #212329;
            color: #fff;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        .footer-heading {
            display: flex;
            flex-direction: column;
            margin-right: 4rem;
            }
        .titrefoot1, .titrefoot2, .titlefoot3 {
            margin-bottom: 2rem;

        }
        .footer-heading a {
            color:#fff;
            text-decoration: none;
            margin-bottom: 0,5rem; 
        }
        .footer-heading a:hover {
            color: red;
            transition: 0.3s ease-out;
        }
        .footer-email-form {
            margin-bottom: 2rem;
        }
        #footer-email {
            width: 250px;
            height: 40px;
            border-radius: 4px;
            outline: none;
            border: none;
            padding-left: 0,5rem;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        #footer-email::placeholder {
            color: #B1B1B1;
        }
        #footer-email-btn {
            width: 100px;
            height: 40px;
            border-radius: 4px;
            background-color: #F9423D;
            outline: none;
            border: none;
            color: #fff;
            font-size: 1rem;
        }
        #footer-email-btn:hover {
            cursor: pointer;
            background-color: #337AF1;
            transition: all 0,6s ease-out;
        }


                    /* CSS HUGO */

                    body{
                        background-image: url("background.png");
                        box-shadow: 10px 5px 5px blue
                        
                    }
                    
                    body{
                        
                        font-family: 'Times New Roman', Times, serif;
                        
                        
                    }
                    
                    .inner{
                        text-align: center
                        
                        
                        
                    }
                    
                    img{
                        border-radius: 10% / 50%;
                        width: 250px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto 
                        
                        
                    }
                    
                    
                    .sidebar{
                        text-align: left;
                        box-shadow: 10px 5px 5px yellow;
                    }
                    
                    .inner2{
                        text-align: center;
                        background-color:white;
                            
                    }
                    
                    
                    
                    
                    *{
                        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    
                    .inner4{
                        display:block;
                        background-color:white;
                    
                    }
                    
                    
                    
                    .h1{
                    
                    
                    font-family: 'Exo 2', sans-serif;
                    font-size: 8.5vw;
                    color: white;
                    padding: 5rem 0;
                    text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
                    }
                    
                    .styled {
                        border: 0;
                        line-height: 2.5;
                        padding: 0 20px;
                        font-size: 1rem;
                        text-align: center;
                        color: #fff;
                        text-shadow: 1px 1px 1px #000;
                        border-radius: 10px;
                        background-color: rgba(220, 0, 0, 1);
                        background-image: linear-gradient(to top left,
                                                        rgba(0, 0, 0, .2),
                                                        rgba(0, 0, 0, .2) 30%,
                                                        rgba(0, 0, 0, 0));
                        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                                    inset -2px -2px 3px rgba(0, 0, 0, .6);
                    }
                    
                    .title{ border: 1px solid black; padding: 5px; }
                    
                    .footer-container {
                        background-color: #212329;
                        padding-bottom: 4rem;
                        font-family:Arial, Helvetica, sans-serif ;
                    }
                    .footer {
                        width: 80%;
                        height: 40vh;
                        background-color: #212329;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin: 0 auto;
                    }
                    .footer-heading {
                        display: flex;
                        flex-direction: column;
                        margin-right: 4rem;
                        }
                    .titrefoot1, .titrefoot2, .titlefoot3 {
                        margin-bottom: 2rem;
                    
                    }
                    .footer-heading a {
                        color:#fff;
                        text-decoration: none;
                        margin-bottom: 0,5rem; 
                    }
                    .footer-heading a:hover {
                        color: red;
                        transition: 0.3s ease-out;
                    }
                    .footer-email-form {
                        margin-bottom: 2rem;
                    }
                    #footer-email {
                        width: 250px;
                        height: 40px;
                        border-radius: 4px;
                        outline: none;
                        border: none;
                        padding-left: 0,5rem;
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
                    #footer-email::placeholder {
                        color: #B1B1B1;
                    }
                    #footer-email-btn {
                        width: 100px;
                        height: 40px;
                        border-radius: 4px;
                        background-color: #F9423D;
                        outline: none;
                        border: none;
                        color: #fff;
                        font-size: 1rem;
                    }
                    #footer-email-btn:hover {
                        cursor: pointer;
                        background-color: #337AF1;
                        transition: all 0,6s ease-out;
                    }


                                /* CSS YANIS */

                                .photoyanis {
                                    width: 400px;
                                }
                                
                                
                                .titrequisommesnous {
                                    font-family: 'Times New Roman', Times, serif ;
                                    background-color: slategray;
                                    color:darkblue;
                                    text-align: center;
                                    border-style: ridge;
                                    font-size: 20px;
                                }
                                
                                
                                .byanis {
                                    background-color: silver;
                                }
                                
                                
                                .paragraphequisommesnousavecliens {
                                    font-size: large ;
                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                  
                                }
                                
                                .paragraphequisommesnousavecliens a {
                                    color: teal;
                                }
                                
                                
                                .logopartenaires {
                                display: flex;
                                justify-content: space-between;
                                }
                                
                                .ligopartenaires {
                                    width: 200px;
                                }
                                
                                
                                .photopartenaires {
                                    display: flex;
                                    justify-content: left;
                                    width: 200px;
                                }
                                
                                
                                
                                .toto {
                                    color: teal;
                                }
                                
                                
                                .titisection {
                                    display: flex;
                                    width: 30;
                                }
                                
                                
                                .v1 {
                                    text-align: center;
                                }
                                
                                .v2 {
                                    text-align: center;
                                }
                                
                                .v3 {
                                    text-align: center;
                                }
                                 
                                
                                .derniertitre {
                                color: navy;
                                text-align: center;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                font-size: 18px;
                                }

                                            /* CSS DE SALIM */
                                            @import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap");

                                            header {
                                            background-color: cadetblue;
                                            position: sticky;
                                            width: 100%;
                                            opacity: 0.9;
                                            margin-bottom: 20vh;
                                            }

                                            .body {
                                            margin: 0;
                                            padding: 0;
                                            height: 150vh;
                                            background-color: darkgoldenrod;
                                            }

                                            .ul {
                                            margin: 0;
                                            padding: 0;
                                            }

                                            .li {
                                            list-style-type: none;
                                            }

                                            .h2 {
                                            text-transform: uppercase;
                                            text-align: center;
                                            padding-top: 30px;
                                            font-style: 2em;
                                            }

                                            .para {
                                            text-transform: uppercase;
                                            font-size: large;
                                            }

                                            form {
                                            background-color: darkgoldenrod;
                                            margin: 0 auto;
                                            max-width: 900px;
                                            }

                                            select,
                                            input,
                                            textarea {
                                            justify-content: center;
                                            display: flex;
                                            border-radius: 20%;
                                            width: 55%;
                                            padding: 15px 10px;
                                            margin: 1px 0;
                                            font-size: 1.2em;
                                            font-family: "Advent Pro", sans-serif;
                                            border-radius: 8px;
                                            }

                                            textarea {
                                            height: 120px;
                                            }
                                            button {
                                            font-size: 1.5em;
                                            background-color: cadetblue;
                                            font-family: Georgia, "Times New Roman", Times, serif;
                                            }
                                            button:hover {
                                            background-color: gray;
                                            color: black;
                                            cursor: pointer;
                                            transition: 0.3s ease-in-out;
                                            font-family: Georgia, "Times New Roman", Times, serif;
                                            }

                                            #icons {
                                            width: 50%;
                                            text-align: right;
                                            }
                                            #icons a {
                                            display: inline-block;
                                            margin: 0 15px;
                                            font-size: 1.3em;
                                            color: rgb(31, 150, 197);
                                            }
                                            #icons a:hover {
                                            transform: scale(1.5);
                                            transition: 0.1s;
                                            }